.todoList {
    background-color: var(--content-background-color);
    box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, .1);
    border-radius: 2rem;
    list-style: none;
    line-height: 3rem;
    padding: 1rem;
}

.todoList li {
    border-bottom: 1px solid gray;
}

.todoList li:last-child {
    border-bottom: none;
}