nav {
    display: flex;
    padding: 0 1rem;
    font-size: 3rem;
    background-color: var(--navbar-background);
    height: var(--height-header);
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.brand {
    white-space: nowrap;
}

.brandLink {
    text-decoration: none;
    color: var(--navbar-text);
}

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--navbar-menu-background);
    padding: 1rem;

    transform: translateY(-10px);
    opacity: 0;

    pointer-events: none;

    transition: transform 0.25s ease, opacity 0.25s ease;
}

.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    gap: 1rem;
}

.menuLink {
    text-decoration: none;
    color: var(--navbar-text);
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 4rem;
    height: 2.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.bar {
    height: .4rem;
    background-color: var(--navbar-text);
    border-radius: .2rem;
    transition: all .5s ease;
}

.openHamburger .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

.openHamburger .bar:nth-child(2) {
    opacity: 0;
}

.openHamburger .bar:nth-child(3) {
    transform: rotate(-45deg) translate(.8rem, -.8rem);
}

.darkModeButton {
    background: none;
    border: none;
    font-size: 2.5rem;
}


@media (min-width: 768px) {
    .menu {
        position: static;
        display: block;
        width: auto;
        background-color: transparent;

        /* 🔥 RESET mobile animation */
        transform: none;
        opacity: 1;
        pointer-events: auto;
    }

    .menu ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }

    .menu li {
        border: none;
        line-height: normal;
    }

    .hamburger {
        display: none;
    }
}