footer {
    background-color: var(--navbar-background);
    color: var(--navbar-text);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--height-footer);
}